# Node modules
node_modules/

# uploads folder
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Compiled TypeScript
dist/
*.js

# TypeScript cache
*.tsbuildinfo

# Editor files
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Debug files
debug.log
